
src/.vs/JustCopyIT/v16/.suo
src/bin/Debug/JustCopyIT.exe
src/bin/Debug/JustCopyIT.exe.config
src/bin/Debug/JustCopyIT.pdb
src/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
src/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/obj/Debug/JustCopyIT.csproj.CoreCompileInputs.cache
src/obj/Debug/JustCopyIT.csproj.FileListAbsolute.txt
src/obj/Debug/JustCopyIT.csproj.GenerateResource.cache
src/obj/Debug/JustCopyIT.csprojAssemblyReference.cache
src/obj/Debug/JustCopyIT.exe
src/obj/Debug/JustCopyIT.frmMain.resources
src/obj/Debug/JustCopyIT.pdb
src/obj/Debug/JustCopyIT.Properties.Resources.resources
